/* HEADER */


@media only screen and (min-width: 1025px) {

    div#header-container {
        background-color: rgb(20, 20, 20);
        padding: 0 50px;
    }

    #logo img.white-logo {
        top: -10px;
    }

    .light-content #logo img.white-logo {
        height: 60px;
    }

    header.classic-menu {
        height: 80px;
    }
}


@media only screen and (max-width: 1025px) {

    div#header-container {
        background-color: rgb(20, 20, 20);
    }

    .light-content #logo img.white-logo {
        height: 40px;
    }
}

.mfp-figure {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.img-wrapper-carousel {
    background:green;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    /* z-index: 999; */
}
